# Activation du module de réécriture
RewriteEngine On

# Redirection de toutes les requêtes vers l'URL cible
RewriteCond %{HTTP_HOST} ^asmaa-dreissia\.fr$ [NC]
RewriteRule ^(.*)$ https://asmaa-dreissia.students-laplateforme.io/$1 [P,L]

# Assurer que le module proxy est activé
ProxyPassMatch ^/(.*)$ https://asmaa-dreissia.students-laplateforme.io/$1
ProxyPassReverse / https://asmaa-dreissia.students-laplateforme.io/